# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment / test scripts
*.exe
*.cmd
*.ps1

# Release artifacts
update-server/public/*.zip

# Temp / empty files
src-tauri/aiexcel2024
